.character-samples {
	position: relative;
	min-height: 956px;
	background: var(--background-color-1);
}

.character-samples::before {
	content: '';
	position: absolute;
	max-width: 1280px;
	width: 100%;
	height: 25px;
	background: var(--background-color-1);
	top: -25px;
	left: 0;
	z-index: -1;
}

.character-samples::after {
	content: '';
	position: absolute;
	max-width: 1280px;
	width: 100%;
	height: 25px;
	background: var(--background-color-1);
	bottom: -25px;
	left: 0;
	z-index: -1;
}

.character-samples.center {
	padding: 38px 50px 0;
}

.character-samples__info-wrapper {
	width: 100%;
	min-height: 120px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	gap: 82px;
	margin: 0 0 45px 0;
}

.character-samples__title {
	max-width: 324px;
	width: 100%;
	z-index: 1;
}

.character-samples__title .double-color {
	width: 332px;
	height: 134px;
}

.character-samples__txt {
	position: relative;
	max-width: 317px;
	width: 100%;
	line-height: 14px;
	margin: 0 0 8px 0;
	z-index: 0;
}

.character-samples__txt::after {
	position: absolute;
	content: "";
	width: 160px;
	height: 160px;
	border-radius: 100%;
	top: -79px;
	left: -51px;
	background-color: var(--background-color-6);
	z-index: -1;
}

/* ====slider==== */
.slider-character-samples {
	margin: 0 0 88px 0;
	z-index: 1;
}

/* ============= */

@media(max-width:1280px) {
	.slider-character-samples {
		margin: 0;
	}
}

@media(max-width:1000px) {
	.character-samples.center {
		padding: 37px 50px 0;
	}

	.character-samples__info-wrapper {
		margin: 0 0 70px 0;
	}

	.slider-character-samples__image {
		min-height: 500px;
		object-fit: cover;
	}
}

@media(max-width:767px) {
	.character-samples {
		min-height: calc(648px + (700 - 648) * ((100vw - 360px) / (767 - 360)));
	}

	.character-samples.center {
		padding: 37px 0px 0;
	}

	.character-samples__info-wrapper {
		flex-direction: column;
		align-items: center;
		gap: 29px;
		margin: 0 0 23px 0;
	}

	.character-samples__txt::after {
		top: -105px;
		left: auto;
		right: -2px;
	}

	.slider-character-samples__image {
		min-height: calc(360px + (500 - 360) * ((100vw - 360px) / (767 - 360)));
	}
}