.event-description {
	background-color: var(--background-color-3);
	border-radius: 30px 30px 0px 0px;
	box-sizing: border-box;
}

.event-description.center {
	margin: 0 auto -25px;
	padding: 100px 50px;
	position: relative;
}

.event-description__title {
	position: absolute;
	left: 48px;
	top: -23px;
	max-width: 212px;
	width: 100%;
	min-height: 94px;
}

.event-description__title .double-color {
	width: 212px;
	height: 94px;
}

.event-description__list {
	max-width: 1142px;
	width: 100%;
	min-height: 160px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.event-description__item {
	position: relative;
	padding: 15px 0 0 95px;
	box-sizing: border-box;
	max-width: 315px;
	width: 100%;
	min-height: 160px;
	z-index: 0;
}

.event-description__item::before {
	position: absolute;
	content: '';
	width: 70px;
	height: 70px;
	border-radius: 100%;
	background: url(../images/event-description/smile-image.svg) no-repeat center / 40px 40px, var(--background-color-4);
	left: 3px;
	top: 19px;
}

.event-description__item::after {
	position: absolute;
	content: '';
	width: 160px;
	height: 160px;
	border-radius: 100%;
	background: var(--background-color-5);
	left: 49px;
	top: 5px;
	z-index: -2;
}

.event-description__name {
	position: relative;
	left: -5px;
	margin: 0 0 16px 0;
}

.event-description__name .double-color__text {
	font-size: 20px;
}

.event-description__item:nth-of-type(1) .double-color {
	width: 159px;
	height: 26px;
}

.event-description__item:nth-of-type(2) .double-color {
	width: 223px;
	height: 25px;
}

.event-description__item:nth-of-type(3) .double-color {
	width: 120px;
	height: 26px;
}

.event-description__text {
	max-width: 235px;
	width: 100%;
	letter-spacing: -0.1px;
}