.event-birthday.center {
	min-height: 544px;
	padding: 60px 50px 57px;
	box-sizing: border-box;
	border-radius: 30px;
	background: url(../images/background-bables.png) no-repeat center/ cover;
}

.event-birthday__container {
	max-width: 1016px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 18px;
}

.event-birthday__info {
	max-width: 643px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.event-birthday__title-wrapper {
	max-width: 279px;
	width: 100%;
}

.event-birthday__title {
	max-width: 279px;
	width: 100%;
	min-height: 91px;
}

.event-birthday__title .double-color {
	width: 286px;
	height: 91px;
}

.event-birthday__title .double-color__text {
	line-height: 42px;
}

.event-birthday__subtitle {
	max-width: 195px;
	width: 100%;
	min-height: 130px;
}

.event-birthday__subtitle .double-color {
	width: 195px;
	height: 130px;
}

.event-birthday__subtitle .double-color__text {
	font-size: 20px;
	line-height: 25px;
}

.event-birthday__subtitle .double-color__text_pink {
	fill: var(--background-color-button-1);
}

.event-birthday__subtitle span {
	color: var(--background-color-button-1);
}

.event-birthday__images-wrp {
	margin: 2px 0 0 0;
	position: relative;
	max-width: 300px;
	width: 100%;
	height: 295px;
}

.event-birthday__image:first-child {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

.event-birthday__image:last-child {
	position: absolute;
	left: 0;
	bottom: 0;
}

/* =====form===== */
.event-birthday__form-wrapper {
	max-width: 311px;
	width: 100%;
	min-height: 427px;
}

.event-birthday__form .form__input:last-of-type {
	margin-bottom: 30px !important;
}

.event-birthday__form-wrapper .form {
	gap: 12px;
}

.event-birthday__btn {
	padding: 11px 70px 14px;
}

/* ========== */
@media (max-width:1000px) {
	.event-birthday.center {
		min-height: 707px;
		padding: 30px;
	}

	.event-birthday__container {
		max-width: 960px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 30px;
	}

	.event-birthday__info {
		max-width: 700px;
		align-items: center;
	}
}

@media (max-width:600px) {
	.event-birthday.center {
		min-height: 707px;
		padding: 0 14px 37px 27px;
	}

	.event-birthday__container {
		position: relative;
		top: -22px;
		left: -12px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 22px;
	}

	.event-birthday__info {
		position: relative;
		max-width: 305px;
		min-height: 221px;
		align-items: center;
	}

	.event-birthday__images-wrp {
		margin: 0;
		max-width: 121px;
		height: 121px;
		position: absolute;
		top: 104px;
		right: 0;
	}

	.event-birthday__images-wrp .event-birthday__image:nth-child(1) {}

	.event-birthday__images-wrp .event-birthday__image:nth-child(2) {
		display: none;
	}

	.event-birthday__form .form__input:last-of-type {
		margin-bottom: 14px !important;
	}
}