.event-description {
	background-color: var(--background-color-3);
	border-radius: 30px 30px 0px 0px;
	margin: 0 auto -29px;
	box-sizing: border-box;
}

.event-description.center {
	padding: 100px 50px;
	position: relative;
	z-index: -2;
}

.event-description__title {
	max-width: 205px;
	position: absolute;
	left: 54px;
	top: -23px;
	line-height: 43px;
	z-index: 0;
}

.event-description__title::after {
	position: absolute;
	content: "";
	width: 212px;
	height: 94px;
	background: url(../images/event-description/background-event-desc-title.svg) no-repeat center / cover;
	left: -4px;
	top: 2px;
	z-index: -1;
}

.event-description__list {
	max-width: 1151px;
	width: 100%;
	min-height: 160px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.event-description__item {
	position: relative;
	padding: 15px 0 0 90px;
	box-sizing: border-box;
	max-width: 310px;
	width: 100%;
	min-height: 160px;
}

.event-description__item::before {
	position: absolute;
	content: '';
	width: 70px;
	height: 70px;
	border-radius: 100%;
	background: url(../images/event-description/smile-image.svg) no-repeat center / 40px 40px, var(--background-color-4);
	left: 0px;
	top: 22px;
}

.event-description__item::after {
	position: absolute;
	content: '';
	width: 160px;
	height: 160px;
	border-radius: 100%;
	background: var(--background-color-5);
	left: 45px;
	top: 0px;
	z-index: -1;
}

.event-description__name {
	font-family: var(--title-font-family-1), sans-serif;
	color: var(--title-text-color);
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 20px 0;
	position: relative;
	z-index: 0;
}

.event-description__item .event-description__name::before {
	content: '';
	position: absolute;
	top: 1px;
	left: -4px;
	z-index: -1;
}

.event-description__item:nth-of-type(1) .event-description__name::before {
	width: 159px;
	height: 26px;
	background: url(../images/event-description/backgrround-event-name-1.svg) no-repeat center / cover;
}

.event-description__item:nth-of-type(2) .event-description__name::before {
	width: 223px;
	height: 25px;
	background: url(../images/event-description/backgrround-event-name-2.svg) no-repeat center / cover;
}

.event-description__item:nth-of-type(3) .event-description__name::before {
	width: 120px;
	height: 26px;
	background: url(../images/event-description/backgrround-event-name-3.svg) no-repeat center / cover;
}

.event-description__text {
	max-width: 235px;
	width: 100%;
	letter-spacing: -0.1px;
}