.example-photos {
	min-height: 943px;
}

.example-photos.center {
	position: relative;
	border-radius: 30px;
	background: url(../images/background-bables.png) no-repeat center / cover;
	z-index: 0;
}

.example-photos__info-wrapper {
	width: 100%;
	min-height: 90px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 23px;
	margin: 0 0 25px 0;
}

.example-photos__title {
	position: relative;
	max-width: 204px;
	width: 100%;
	top: -27px;
}

.example-photos__title .double-color {
	width: 225px;
	height: 92px;
}

.example-photos__txt {
	position: relative;
	top: -22px;
	max-width: 273px;
	width: 100%;
}

.example-photos__txt .double-color {
	width: 278px;
	height: 77px;
}

.example-photos__txt .double-color__text {
	font-size: 20px;
	line-height: 25px;
}

.slider-example-photos {
	margin: 0 0 53px 0;
	z-index: 0;
}

.example-photos__button {
	margin: 0 auto;
	padding: 23px 0;
}

@media(max-width:767px) {
	.example-photos {
		min-height: calc(654px + (670 - 654) * ((100vw - 360px) / (767 - 360)));
	}

	.example-photos.center {
		padding: 0 0 36px;
	}

	.example-photos__info-wrapper {
		max-width: 310px;
		margin: 0 auto 32px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		gap: 0px;
	}

	.example-photos__title {
		top: -25px;
	}

	.example-photos__txt {
		top: -4px;
	}

	.slider-example-photos {
		margin: 0 0 23px 0;
	}

	.slider-example-photos__image {
		min-height: 360px;
		-o-object-fit: cover;
		object-fit: cover;
	}
}