.header {
	position: relative;
	margin: 0 auto -34px;
	max-width: 1280px;
	min-height: 797px;
}

.header__top-wrp {
	min-height: 140px;
	border-radius: 0px 0px 30px 30px;
	background: var(--background-color-2);
}

.header__top {
	padding: 12px 21px;
	border-radius: 0px 0px 30px 30px;
	background: url(../images/header/top-header-background.png) no-repeat top center / cover;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 31px;
}

.header__info-wrapper {
	max-width: 894px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.logo,
.logo__link {
	width: 89px;
	height: 66px;
}

.info__how-to-find {
	max-width: 158px;
	width: 100%;
}

.how-to-find-link {
	text-decoration: none;
}

.info__phone {
	max-width: 166px;
	width: 100%;
	min-height: 23px;
}

.header__social {
	margin: 0 0 4px 19px;
}

.menu {
	padding: 16px 27px 18px 33px;
	max-width: 1280px;
	width: 100%;
	min-height: 50px;
}

.menu-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.menu-link {
	font-size: 14px;
}

/* ====mobile-menu==== */
.mobile-menu {
	display: none;
}

/* ====END-mobile-menu==== */
.header__promo-wrapper {
	position: absolute;
	padding: 0 20px 50px;
	box-sizing: border-box;
	left: 33px;
	top: 257px;
	max-width: 360px;
	width: 100%;
	min-height: 387px;
	background: url(../images/header/promo-background.png);
	border-radius: 30px;
}

.header__promo {
	position: absolute;
	top: -27px;
	left: 20px;
}

.header__promo-title {
	position: relative;
	left: -5px;
	max-width: 270px;
	width: 100%;
	min-height: 76px;
	margin: 0 0 3px 0;
}

.header__promo-title .double-color {
	width: 278px;
	height: 94px;
}

.header__promo-subtitle {
	position: relative;
	left: -5px;
	max-width: 310px;
	width: 100%;
	min-height: 79px;
	margin: 0 0 5px 0;
}

.header__promo-subtitle .double-color {
	width: 318px;
	height: 79px;
}

.header__promo-subtitle .double-color__text {
	font-size: 20px;
	line-height: 25px;
}

.header__promo-list {
	max-width: 289px;
	width: 100%;
	padding: 0 0 0 27px;
	box-sizing: border-box;
	margin: 0 0 33px 0;
}

.header__promo-item:not(li:last-of-type) {
	margin: 0 0 7px 0;
}

.header__promo-item {
	position: relative;
	min-height: 15px;
}

.header__promo-item::before {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	background: url(../images/header/list-style-point-1.svg) no-repeat center / cover;
	left: -27px;
	top: -2px;
}

.calc-price-button {
	margin: 0 auto;
	padding: 0 67px;
}