.header {
	position: relative;
	margin: 0 auto -34px;
	max-width: 1280px;
	min-height: 797px;
}

.header__top-wrp {
	min-height: 140px;
	border-radius: 0px 0px 30px 30px;
	background: var(--background-color-2);
}

.header__top {
	padding: 12px 21px;
	border-radius: 0px 0px 30px 30px;
	background: url(../images/header/top-header-background.png) no-repeat top center / cover;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 31px;
}

.header__info-wrapper {
	max-width: 894px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.logo,
.logo__link {
	display: block;
	width: 89px;
	height: 66px;
}

.info__how-to-find {
	max-width: 158px;
	width: 100%;
}

.how-to-find-link {
	text-decoration: none;
}

.info__phone {
	max-width: 166px;
	width: 100%;
	min-height: 23px;
}

.header__top-social {
	margin: 0 0 4px 19px;
}

.menu {
	padding: 16px 27px 18px 33px;
	max-width: 1280px;
	width: 100%;
	min-height: 50px;
}

.menu-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 10px;
}

.menu-link {
	font-size: 14px;
}

/* ====mobile-menu==== */
.mobile-menu {
	display: none;
}

#menu-switch[type="checkbox"] {
	display: none;
}

.mobile-menu__burger,
.mobile-menu__box-close {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: #fff;
	cursor: pointer;
	visibility: visible;
	transition: all 0.8s ease 0s;
}

.mobile-menu__burger span,
.mobile-menu__box-close span {
	display: block;
	position: relative;
	top: 24px;
	left: 12px;
	border-radius: 7px;
	width: 26px;
	height: 5px;
	background-color: var(--title-text-color);
}

.mobile-menu__burger span::after,
.mobile-menu__burger span::before {
	content: '';
	position: absolute;
	left: 0;
	top: -8px;
	width: 26px;
	height: 5px;
	background-color: var(--title-text-color);
	border-radius: 7px;
	transition: all 0.8s ease 0s;
}

.mobile-menu__burger span::after {
	top: 8px;
}

#menu-switch[type="checkbox"]:checked~.mobile-menu__burger {
	visibility: hidden;
}

.mobile-menu__wrapper {
	position: absolute;
	right: 0;
	top: 15px;
	width: 100%;
	min-height: 404px;
	background-color: transparent;
	visibility: hidden;
	transition: all 0.8s ease 0s;
	transform: translateY(-100%);
	z-index: 3;
}

.mobile-menu__box {
	position: absolute;
	right: 13px;
	max-width: 228px;
	width: 100%;
	min-height: 404px;
	padding: 10px 53px 45px 15px;
	border-radius: 30px;
	background-color: var(--background-color-3);
}

.mobile-menu__box-close {
	position: absolute;
	right: 0;
	top: 0;
}

.mobile-menu__box-close span:nth-child(1),
.mobile-menu__box-close span:nth-child(2) {
	position: absolute;
	transform: rotate(-45deg);
	top: 23px;
}

.mobile-menu__box-close span:nth-child(2) {
	transform: rotate(45deg);
}

.mobile-menu__box .menu-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.mobile-menu__box .menu-item:not(:last-child) {
	margin: 0 0 21px 0;
}

.mobile-menu__box .menu-item:first-child {
	margin: 0 0 18px 0;
}

#menu-switch[type="checkbox"]:checked~.mobile-menu__wrapper {
	visibility: visible;
	transform: translateY(0%);
}

.mobile-menu__opasity-block {
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: #000;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	transition: all 0.8s ease 0s;
	z-index: -1;
}

#menu-switch[type="checkbox"]:checked~.mobile-menu__opasity-block {
	opacity: 0.8;
	z-index: 3;
}

/* ====END-mobile-menu==== */
.header__promo-wrapper {
	position: absolute;
	padding: 0 20px 50px;
	box-sizing: border-box;
	left: 33px;
	top: 257px;
	max-width: 360px;
	width: 100%;
	min-height: 387px;
	background: url(../images/header/promo-background.png);
	border-radius: 30px;
}

.header__social {
	display: none;
}

.header__promo {
	position: absolute;
	top: -27px;
	left: 20px;
}

.header__promo-title {
	position: relative;
	left: -5px;
	max-width: 270px;
	width: 100%;
	min-height: 76px;
	margin: 0 0 3px 0;
}

.header__promo-title .double-color {
	width: 278px;
	height: 94px;
}

.header__promo-subtitle {
	position: relative;
	left: -5px;
	max-width: 310px;
	width: 100%;
	min-height: 79px;
	margin: 0 0 5px 0;
}

.header__promo-subtitle .double-color {
	width: 318px;
	height: 79px;
}

.header__promo-subtitle .double-color__text {
	font-size: 20px;
	line-height: 25px;
}

.header__promo-list {
	max-width: 289px;
	width: 100%;
	padding: 0 0 0 27px;
	box-sizing: border-box;
	margin: 0 0 33px 0;
}

.header__promo-item:not(li:last-of-type) {
	margin: 0 0 7px 0;
}

.header__promo-item {
	position: relative;
	min-height: 15px;
}

.header__promo-item::before {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	background: url(../images/header/list-style-point-1.svg) no-repeat center / cover;
	left: -27px;
	top: -2px;
}

.calc-price-button {
	margin: 0 auto;
	padding: 0 67px;
}

@media (max-width:1024px) {
	.header__top-menu .menu-list {
		column-gap: 0;
		row-gap: 20px;
	}

	.header__top-menu .menu-list>.menu-item {
		flex: 1 1 20%;
		display: flex;
		justify-content: center;
		text-align: center;
	}
}

@media (max-width:768px) {
	.header {
		min-height: 593px;
	}

	.header__top-wrp {
		min-height: 90px;
	}

	.header__top {
		padding: 12px 13px 12px 20px;
		align-items: flex-end;
		gap: 12px;
	}

	.header__info-wrapper {
		max-width: 575px;
		min-height: 60px;
		gap: 10px;
		flex-direction: column;
		align-items: center;
	}

	.header__top-wrp {
		background: none;
	}

	.info__how-to-find {
		align-self: flex-end;
	}

	.info__phone {
		align-self: flex-start;
	}

	.header__top-social {
		display: none;
	}

	.mobile-menu {
		display: block;
		align-self: flex-start;
		margin: 3px 0 0 0;
	}

	.header__top-menu {
		display: none;
	}

	.header .header__social {
		padding: 14px 13px;
		display: flex;
		justify-content: flex-end;
		max-width: 768px;
		min-height: 194px;
	}

	.header .social__list {
		max-width: 50px;
		width: 100%;
		min-height: 166px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 8px;
	}

	.header .social__item_whatsapp .social__link {
		margin: 0;
	}

	.header__promo-wrapper {
		position: relative;
		top: auto;
		left: auto;
		margin: 0 auto;
		min-height: 356px;
		z-index: 1;
	}

	.header__promo-list {
		margin: 0 0 13px 0;
	}
}