.header {
	position: relative;
	margin: 0 auto;
	max-width: 1280px;
	min-height: 797px;
}

.header__top-wrp {
	max-width: 1280px;
	width: 100%;
	min-height: 140px;
	border-radius: 0px 0px 30px 30px;
	background: var(--background-color-2);
}

.header__top {
	padding: 12px 21px;
	border-radius: 0px 0px 30px 30px;
	background: url(../images/header/top-header-background.png) no-repeat top center / cover;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 31px;
}

.header__info-wrapper {
	max-width: 894px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.logo,
.logo__link {
	width: 89px;
	height: 66px;
}

.info__how-to-find {
	max-width: 158px;
	width: 100%;
}

.info__phone,
.info__phone .phone-link {
	max-width: 158px;
	width: 100%;
}

.phone-link span {
	display: block;
	position: relative;
	font-family: var(--title-font-family-1), sans-serif;
	font-size: 20px;
	color: var(--title-text-color);
	z-index: 0;
}

.phone-link span::after {
	content: "";
	width: 166px;
	height: 25px;
	background: url(../images/header/background-text-phone.svg) no-repeat center / cover;
	position: absolute;
	left: -5px;
	top: 0;
	z-index: -1;
}

.header__social-wrapper {
	margin: 0 0 4px 23px;
}

.menu {
	padding: 16px 27px 18px 33px;
	max-width: 1280px;
	width: 100%;
	min-height: 50px;
}

.menu-list {
	max-width: 1220px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.menu-link {
	font-size: 14px;
	text-decoration: underline;
}

/* ====mobile-menu==== */
.mobile-menu {
	display: none;
}

/* ====END-mobile-menu==== */
.header__promo-wrapper {
	position: absolute;
	padding: 0 20px 50px;
	box-sizing: border-box;
	left: 33px;
	top: 258px;
	max-width: 360px;
	width: 100%;
	min-height: 387px;
	background: url(../images/header/promo-background.png);
	border-radius: 30px;
}

.header__promo {
	position: absolute;
	top: -58px;
}

.header__promo-title {
	position: relative;
	max-width: 270px;
	min-height: 76px;
	line-height: 42px;
	z-index: 0;
	margin-bottom: 12px;
}

.header__promo-subtitle {
	font-family: var(--title-font-family-1), sans-serif;
	color: var(--title-text-color);
}


.header__promo-title::after {
	position: absolute;
	content: "";
	width: 278px;
	height: 94px;
	background: url(../images/header/background-text-happy-birthday.svg) no-repeat center / cover;
	left: -5px;
	top: 0;
	z-index: -1;
}

.header__promo-subtitle {
	position: relative;
	max-width: 310px;
	width: 100%;
	min-height: 63px;
	font-size: 20px;
	line-height: 23px;
	z-index: 0;
	margin-bottom: 13px;
}

.header__promo-subtitle::after {
	position: absolute;
	content: "";
	width: 318px;
	height: 79px;
	background: url(../images/header/background-text-happy-birthday-subtitle.svg) no-repeat center / cover;
	left: -5px;
	top: -5px;
	z-index: -1;
}

.header__promo-list {
	max-width: 289px;
	width: 100%;
	padding: 0 0 0 27px;
	box-sizing: border-box;
	margin: 0 0 32px 0;
}

.header__promo-item:not(li:last-of-type) {
	margin: 0 0 8px 0;
}

.header__promo-item {
	position: relative;
	min-height: 15px;
}

.header__promo-item::before {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	background: url(../images/header/list-style-point-1.svg) no-repeat center / cover;
	left: -27px;
	top: -1px;
}

.calc-price-button {
	display: block;
	margin: 0 auto;
	padding: 0 67px;
}