.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
}

.popup.open {
	opacity: 1;
	visibility: visible;
	z-index: 1;
}

.popup.open .popup__content {
	-webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
	transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
	opacity: 1;
}

.popup__close-container {
	position: absolute;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	background-color: var(--text-color-2);
	top: 0;
	right: 0;
	cursor: pointer;
}

.popup__close {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.popup__close::after,
.popup__close::before {
	content: '';
	position: absolute;
	border-radius: 7px;
	width: 26px;
	height: 5px;
	background-color: var(--title-text-color);
	top: 22px;
	left: 12px;
}

.popup__close::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.popup__close::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.popup__body {
	min-height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.popup__content {
	position: relative;
	max-width: 360px;
	width: 100%;
	min-height: 505px;
	padding: 43px 26px 36px;
	border-radius: 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: var(--background-color-3);
	-webkit-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	opacity: 0;
	-webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
	transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__title {
	font-family: var(--title-font-family-1), sans-serif;
	color: var(--title-text-color);
	font-size: 20px;
	line-height: 25px;
	font-weight: 400;
	max-width: 300px;
	width: 100%;
	margin: 0 0 11px 0;
}

.popup__title span {
	position: relative;
	color: var(--background-color-button-1);
}

.popup__subtitle {
	margin: 0 0 15px 0;
}

.popup__form-wrapper form {
	margin: 0 0 20px 0;
}

.popup__form .form__input {
	padding: 28px 49px;
}

.popup__button {
	max-width: 258px;
	width: 100%;
	min-height: 70px;
}

.popup__social-wrapper {
	max-width: 303px;
	width: 100%;
	min-height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.popup__social {
	max-width: 107px !important;
	width: 100%;
	min-height: 50px;
}

.popup__social .social__item_whatsapp {
	height: 50px !important;
}

.popup__social .social__item_whatsapp .social__link {
	background: url(../images/whatsapp-icon.svg) no-repeat center / contain !important;
	height: 50px !important;
}

.popup__social-text {
	max-width: 178px;
	width: 100%;
}