.reviews {
	position: relative;
	background: var(--background-color-3);
	min-height: 436px;
	border-radius: 30px 30px 0 0;
}

.reviews.center {
	padding: 0 50px 90px;
}

.reviews::after {
	content: '';
	position: absolute;
	max-width: 1280px;
	width: 100%;
	height: 25px;
	background: var(--background-color-3);
	bottom: -25px;
	left: 0;
	z-index: -1;
}

.reviews__title {
	position: relative;
	max-width: 278px;
	width: 100%;
	top: -18px;
}

.reviews__title .double-color {
	width: 285px;
	height: 85px;
}

.reviews__container-wrapper {
	position: relative;
	max-width: 921px;
	width: 100%;
	margin: 0 auto;
	z-index: 0;
}

.reviews__container-wrapper::before {
	position: absolute;
	content: '';
	border-radius: 100%;
	width: 160px;
	height: 160px;
	background: var(--background-color-5);
	top: 31px;
	left: 152px;
	z-index: -1;
}

.reviews__container-wrapper::after {
	position: absolute;
	content: '';
	border-radius: 100%;
	width: 160px;
	height: 160px;
	background: var(--background-color-5);
	top: 0px;
	right: -71px;
	z-index: -1;
}

.reviews__container {
	max-width: 921px;
	width: 100%;
	min-height: 256px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.reviews__item {
	display: block;
}

.reviews__item:nth-child(1) .reviews__card {
	margin: 56px -37px 0 0;
}

.reviews__item:nth-child(2) .reviews__card {
	margin: 34px -9px 0 0;
}

.reviews__item:nth-child(3) .reviews__card {
	margin: 0 -44px 0 0;
}

.reviews__item:nth-child(4) .reviews__card {
	margin: 59px 0 0 0;
}

@media (max-width:1100px) {
	.reviews.center {
		padding: 0 23px 20px;
	}

	.reviews__container-wrapper {
		padding: 0 30px;
	}

	.reviews__container-wrapper::before {
		top: -5px;
		left: 48px;
	}

	.reviews__container-wrapper::after {
		top: 98px;
		right: 89px;
	}

	.reviews__item:nth-child(1) .reviews__card {
		margin: 0 -100px 0 0;
	}

	.reviews__item:nth-child(2) .reviews__card {
		margin: 90px -9px 0 0;
	}

	.reviews__item:nth-child(3) .reviews__card {
		margin: 238px -45px 0 -146px;
	}

	.reviews__item:nth-child(4) .reviews__card {
		margin: 196px 0 0 -8px;
	}
}

@media (max-width:768px) {
	.reviews {
		min-height: 688px;
	}

	.reviews.center {
		padding: 0 16px 0 23px;
	}

	.reviews__container-wrapper {
		padding: 35px 0 0;
	}

	.reviews__container-wrapper::before {
		top: 9px;
		left: 150px;
	}

	.reviews__container-wrapper::after {
		top: 195px;
		right: 156px;
	}

	.reviews__title {
		top: -16px;
	}

	.reviews__container {
		max-width: 576px;
		margin: 0 auto;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.reviews__item:nth-child(2),
	.reviews__item:nth-child(4) {
		-ms-flex-item-align: end;
		align-self: flex-end;
	}

	.reviews__item:nth-child(1) .reviews__card {
		margin: 0;
	}

	.reviews__item:nth-child(2) .reviews__card {
		margin: -42px 0 0;
	}

	.reviews__item:nth-child(3) .reviews__card {
		margin: -29px 0 0;
	}

	.reviews__item:nth-child(4) .reviews__card {
		margin: -129px 0 0;
	}
}