.studio-services {
	position: relative;
	background: var(--background-color-3);
	border-radius: 30px 30px 0px 0px;
}

.studio-services::after {
	content: '';
	position: absolute;
	max-width: 1280px;
	width: 100%;
	height: 25px;
	background: var(--background-color-3);
	bottom: -25px;
	left: 0;
	z-index: -1;
}

.studio-services.center {
	padding: 29px 50px 150px;
}

.studio-services__title-wrapper {
	position: relative;
	max-width: 332px;
	width: 100%;
	min-height: 235px;
	padding: 48px 0 0 0px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 7px 0;
}

.studio-services__title-wrapper::before {
	position: absolute;
	content: '';
	border-radius: 100%;
	width: 160px;
	height: 160px;
	background-color: var(--background-color-5);
	top: 0;
	left: 135px;
}

.studio-services__title-wrapper::after {
	position: absolute;
	content: '';
	border-radius: 100%;
	width: 160px;
	height: 160px;
	background: var(--background-color-7);
	bottom: 0;
	left: -10px;
	z-index: 0;
}

.studio-services__title {
	position: relative;
	max-width: 318px;
	width: 100%;
	z-index: 1;
}

.studio-services__title .double-color {
	width: 324px;
	height: 139px;
}

.studio-services__list {
	max-width: 1181px;
	width: 100%;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: minmax(360px, 1fr) 50px minmax(360px, 1fr) 50px minmax(360px, 1fr);
	grid-template-columns: repeat(3, minmax(360px, 1fr));
	-ms-grid-rows: 460px 65px 460px 65px 1fr;
	grid-template-rows: repeat(2, 460px) 1fr;
	row-gap: 65px;
	-webkit-column-gap: 50px;
	-moz-column-gap: 50px;
	column-gap: 50px;
}

.studio-services__list>*:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.studio-services__list>*:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

.studio-services__list>*:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 5;
}

.studio-services__list>*:nth-child(4) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}

.studio-services__list>*:nth-child(5) {
	-ms-grid-row: 3;
	-ms-grid-column: 3;
}

.studio-services__list>*:nth-child(6) {
	-ms-grid-row: 3;
	-ms-grid-column: 5;
}

.studio-services__list>*:nth-child(7) {
	-ms-grid-row: 5;
	-ms-grid-column: 1;
}

.studio-services__list>*:nth-child(8) {
	-ms-grid-row: 5;
	-ms-grid-column: 3;
}

.studio-services__list>*:nth-child(9) {
	-ms-grid-row: 5;
	-ms-grid-column: 5;
}

.studio-services__list-item {
	position: relative;
	max-width: 360px;
	width: 100%;
	min-height: 460px;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.service-card__info-wrapper {
	max-width: 360px;
	width: 100%;
	min-height: 257px;
	padding: 101px 17px 25px 25px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 30px;
	margin: 103px 0 0 0;
	background: url(../images/service-studio/backgrpund-service-card.png) no-repeat center / cover;
}

.service-card__image {
	display: block;
	position: absolute;
	top: 0;
	left: 90px;
}

.service-card__name {
	position: relative;
	left: -3px;
	max-width: 298px;
	width: 100%;
	margin: 0 0 17px 0;
}

.service-card__name .double-color__text {
	line-height: 25px;
	font-size: 20px;
}

.studio-rental .double-color {
	width: 176px;
	height: 27px;
}

.animator .double-color {
	width: 227px;
	height: 25px;
}

.paper-show .double-color {
	width: 177px;
	height: 25px;
}

.illusionist .double-color {
	width: 121px;
	height: 24px;
}

.aquagrimm .double-color {
	width: 115px;
	height: 24px;
}

.service-hero {
	margin: 0 0 12px;
}

.service-hero .double-color {
	position: relative;
	top: -3px;
	left: -3px;
	width: 287px;
	height: 57px;
}

.service-silver-package .double-color {
	width: 303px;
	height: 77px;
}

.service-babble-show .double-color {
	width: 292px;
	height: 77px;
}

.service-card__description:not(:last-child) {
	margin: 0 0 15px 0;
}

.get-price-btn {
	margin: 32px 0 0;
	padding: 22px 0;
}

.studio-services__mobile {
	display: none;
}

.studio-services__slider {
	max-width: 830px !important;
}

@media (max-width:1280px) {
	.studio-services__list {
		row-gap: 65px;
		-webkit-column-gap: 10px;
		-moz-column-gap: 10px;
		column-gap: 10px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: space-evenly;
		-ms-flex-pack: space-evenly;
		justify-content: space-evenly;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
}

@media (max-width:830px) {
	.studio-services__desctop {
		display: none;
	}

	.studio-services {
		min-height: 864px;
	}

	.studio-services.center {
		padding: 79px 0 77px;
		margin: -60px auto 0;
	}

	.studio-services__title-wrapper {
		margin: 0 auto;
	}

	.studio-services__title {
		max-width: 320px;
		padding: 0 15px 0 10px;
	}

	.studio-services__mobile {
		display: block;
	}

	.studio-services__list {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.studio-services__slider-line {
		-ms-flex-wrap: nowrap !important;
		flex-wrap: nowrap !important;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		row-gap: 0;
		-webkit-column-gap: 0;
		-moz-column-gap: 0;
		column-gap: 0;
	}

	.studio-services__list-item {
		min-width: 100vw;
		min-height: 360px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.service-card__image-wrapper {
		position: relative;
	}
}