.studio-services {
	width: 100%;
	background: var(--background-color-3);
	border-radius: 30px 30px 0px 0px;
}

.studio-services.center {
	padding: 29px 50px 120px;
}

.studio-services__title-wrapper {
	position: relative;
	max-width: 332px;
	width: 100%;
	min-height: 235px;
	padding: 45px 0 60px 4px;
	box-sizing: border-box;
}

.studio-services__title-wrapper::before {
	position: absolute;
	content: '';
	border-radius: 100%;
	width: 160px;
	height: 160px;
	background-color: var(--background-color-5);
	top: 0;
	left: 135px;
}

.studio-services__title-wrapper::after {
	position: absolute;
	content: '';
	border-radius: 100%;
	width: 160px;
	height: 160px;
	background: var(--background-color-7);
	bottom: 0;
	left: -10px;
	z-index: 0;
}

.studio-services__title {
	position: relative;
	max-width: 318px;
	z-index: 1;
}

.studio-services__title::after {
	position: absolute;
	content: "";
	width: 324px;
	height: 198px;
	background: url(../images/service-studio/background-title-service-studio.svg) no-repeat center / cover;
	left: 2px;
	top: 3px;
	z-index: -1;
}

/* ====desctop-block==== */
.studio-services__list {
	max-width: 1181px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	row-gap: 65px;
	justify-content: space-between;
	align-items: start;
}

.service-card-wrapper {
	position: relative;
	max-width: 360px;
	width: 100%;
	min-height: 460px;
}

.service-card__info-wrapper {
	max-width: 360px;
	width: 100%;
	min-height: 257px;
	padding: 98px 17px 30px 25px;
	box-sizing: border-box;
	border-radius: 30px;
	margin: 103px 0 0 0;
	background: url(../images/service-studio/backgrpund-service-card.png) no-repeat center 0/ 100%;
}

.service-card__image {
	display: block;
	position: absolute;
	top: 0;
	left: 90px;
}

.service-card__name {
	max-width: 298px;
	width: 100%;
	font-family: var(--title-font-family-1);
	color: var(--title-text-color);
	font-weight: 400;
	font-size: 20px;
	margin: 0 0 20px 0;
	line-height: 25px;
	z-index: 0;
}

.studio-rental,
.animator,
.paper-show,
.illusionist,
.aquagrimm,
.service-hero,
.service-silver-package,
.service-babble-show {
	position: relative;
}

.studio-rental::before,
.animator::before,
.paper-show::before,
.illusionist::before,
.aquagrimm::before,
.service-hero::before,
.service-silver-package::before,
.service-babble-show::before {
	position: absolute;
	content: "";
	width: 176px;
	height: 27px;
	top: 1px;
	left: -4px;
	background: url(../images/service-studio/service-title-studio-rental.svg);
	z-index: -1;
}

.animator::before {
	width: 227px;
	height: 24px;
	background: url(../images/service-studio/service-title-animatior.svg);
}

.paper-show::before {
	width: 177px;
	height: 24px;
	left: -5px;
	background: url(../images/service-studio/service-title-paper-show.svg);
}

.illusionist::before {
	width: 121px;
	height: 27px;
	background: url(../images/service-studio/service-title-illusionist.svg);
}

.aquagrimm::before {
	width: 115px;
	height: 27px;
	background: url(../images/service-studio/service-title-aquagrimm.svg);
}

.service-hero::before {
	width: 287px;
	height: 57px;
	top: -4px;
	background: url(../images/service-studio/service-hero-title.svg);
}

.service-silver-package::before {
	width: 303px;
	height: 77px;
	background: url(../images/service-studio/service-title-silver-package.svg);
}

.service-babble-show::before {
	width: 292px;
	height: 102px;
	top: -3px;
	background: url(../images/service-studio/service-title-babble-show.svg);
}

.service-card__description:not(:last-child) {
	margin: 0 0 15px 0;
}

.get-price-btn {
	display: block;
	margin: 32px auto 0;
}

/* ================== */
/* ====mobile-block==== */
.studio-services__mobile {
	display: none;
}

/* ================== */