@import "normolize.css";
@import "nulling-styles.css";
@import "fonts.css";
@import "animation-hover.css";
@import "variables.css";
@import "header.css";

body {
	background: linear-gradient(to right, rgba(255, 255, 137, 1) 0%, rgba(54, 244, 216, 1) 100%);
}

body,
a {
	font-family: var(--text-font-family-1), sans-serif;
	font-size: 12px;
	color: var(--text-color);
}

.center {
	max-width: 1280px;
	padding: 0 50px;
	margin: 0 auto;
	outline: 1px solid red;
}

.header__social-wrapper,
.footer__social-wrapper,
.social-list {
	max-width: 175px;
	width: 100%;
	min-height: 50px;
}

.social-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social-item,
.social-link {
	display: block;
	width: 50px;
	height: 50px;
}

.social-item:nth-child(1) .social-link {
	background: url(../images/vk-icon.svg) no-repeat center / cover;
}

.social-item:nth-child(2) .social-link {
	background: url(../images/telegramm-icon.svg) no-repeat center / cover;
}

.social-item:nth-child(3) .social-link {
	background: url(../images/whatsapp-icon.svg) no-repeat center / cover;
}