@import "normolize.css";
@import "nulling-styles.css";
@import "fonts.css";
@import "animation-hover.css";
@import "variables.css";
@import "header.css";
@import "event-description.css";
@import "view-studio.css";
@import "character-samples.css";
@import "studio-services.css";
@import "example-photos.css";

body {
	background: linear-gradient(to right, rgba(255, 255, 137, 1) 0%, rgba(54, 244, 216, 1) 100%);
}

body,
a {
	font-family: var(--text-font-family-1), sans-serif;
	font-size: 12px;
	color: var(--text-color);
}

.center {
	max-width: 1280px;
	padding: 0 50px;
	margin: 0 auto;
	outline: 1px solid red;
}

.header__promo-title,
.event-description__title,
.view-studio__title,
.character-samples__title,
.studio-services__title {
	font-family: var(--title-font-family-1), sans-serif;
	color: var(--title-text-color);
	font-size: 48px;
	line-height: 44px;
	font-weight: 400;
	width: 100%;
}

.button {
	font-family: var(--title-font-family-1), sans-serif;
	font-size: 20px;
	color: var(--button-text-color-1);
	text-align: center;
	background-color: var(--background-color-button-1);
	border-radius: 100px;
	width: 258px;
	height: 70px;
	box-sizing: border-box;
	cursor: pointer;
}

.header__social-wrapper,
.footer__social-wrapper,
.social-list {
	max-width: 175px;
	width: 100%;
	min-height: 50px;
}

.social-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}

.social-item,
.social-link {
	display: block;
	width: 50px;
	height: 50px;
}

.social-item:nth-child(1) .social-link {
	background: url(../images/vk-icon.svg) no-repeat center / cover;
}

.social-item:nth-child(2) .social-link {
	background: url(../images/telegramm-icon.svg) no-repeat center / cover;
}

.social-item:nth-child(3) .social-link {
	background: url(../images/whatsapp-icon.svg) no-repeat center / cover;
}



@media(max-width:1280px) and (min-width:768px) {
	.view-studio {
		min-height: calc(600px + (1000 - 600) * ((100vw - 768px) / (1280 - 768)));
	}

	.view-studio__info-wrapper {
		margin: 0 0 calc(20px + (70 - 20) * ((100vw - 768px) / (1280 - 768))) 0;
	}

	.slider-view-studio {
		margin: 0 0 calc(20px + (83 - 20) * ((100vw - 768px) / (1280 - 768))) 0;
	}

	.character-samples {
		min-height: calc(700px + (956 - 600) * ((100vw - 768px) / (1280 - 768)));
	}

	/* width: calc(20px + (83 - 20) * ((100vw - 768px) / (1280 - 768))); */
	/* 37 - максимальная ширина картинок кнопок.  */
	/* 20, 20px - минимальная ширина картинок кнопок. */
	/* 815px - ширина при которой начинает уменьшаться слайдер */
	/* 320, 320px - минимальная ширина экрана до которого будет происходить уменьшение  */
	.studio-services__list {

		row-gap: 65px;
		column-gap: 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: flex-start;
	}


}