@import "normolize.css";
@import "nulling-styles.css";
@import "fonts.css";
@import "animation-hover.css";
@import "variables.css";
@import "header.css";
@import "event-description.css";
@import "view-studio.css";
@import "character-samples.css";
@import "studio-services.css";
@import "example-photos.css";
@import "social-info.css";
@import "reviews.css";
@import "event-birthday.css";
@import "footer.css";
@import "popups.css";

body {
	background: linear-gradient(to right, rgba(255, 255, 137, 1) 0%, rgba(54, 244, 216, 1) 100%);
}

body.lock {
	overflow: hidden;
}

body,
a {
	font-family: var(--text-font-family-1), sans-serif;
	font-size: 12px;
	color: var(--text-color);
}

a {
	text-decoration: underline;
}

#fixed-hidden-element {
	position: fixed;
	top: 50%;
	left: 0;
	width: 1px;
	height: 1px;
	visibility: hidden;
}

.center {
	max-width: 1280px;
	width: 100%;
	padding: 0 50px;
	margin: 0 auto;
}

.double-color {
	display: block;
}

.double-color__text {
	fill: var(--title-text-color);
	stroke: var(--background-color-3);
	font-family: var(--title-font-family-1), sans-serif;
	font-size: 48px;
	font-weight: 400;
	line-height: 44px;
	stroke-width: 10px;
	paint-order: stroke fill;
}

.button {
	display: block;
	font-family: var(--title-font-family-1), sans-serif;
	font-size: 20px;
	color: var(--text-color-2);
	text-align: center;
	background-color: var(--background-color-button-1);
	border-radius: 100px;
	width: 258px;
	height: 70px;
	box-sizing: border-box;
	cursor: pointer;
}

/* ====company-phone==== */
.phone__link {
	display: block;
}

.phone__link .double-color {
	width: 166px;
	height: 23px;
}

.phone__link .double-color__text {
	font-weight: 400;
	font-size: 20px;
	line-height: normal;
}

/* ============== */
/* ====social===== */
.social,
.social__list {
	max-width: 175px;
	width: 100%;
	min-height: 50px;
}

.social__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}

.social__item,
.social__link {
	display: block;
	width: 50px;
	height: 50px;
}

.social__item_whatsapp .social__link {
	width: 49px;
	height: 48px;
	margin-left: -4px;
}

.social__item:nth-child(1) .social__link {
	background: url(../images/vk-icon.svg) no-repeat center / cover;
}

.social__item:nth-child(2) .social__link,
.popup__social .social__item:nth-child(1) .social__link {
	background: url(../images/telegramm-icon.svg) no-repeat center / cover;
}

.social__item_whatsapp .social__link,
.popup__social .social__item:nth-child(2) .social__link {
	background: url(../images/whatsapp-icon.svg) no-repeat center / cover;

}

/* ============== */

/* ====forms-style==== */
.valid {
	outline: 3px solid #3cff00;
}

.invalid {
	outline: 3px solid red;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 11px;
}

.form__input {
	max-width: 311px;
	width: 100%;
	padding: 28px 56px;
	box-sizing: border-box;
	border-radius: 100px;
	background: var(--text-color-2);
}

.form .form__input:last-of-type {
	margin-bottom: 10px;
}

/* ========= */

@media(max-width:1280px) and (min-width:768px) {
	.view-studio {
		min-height: calc(600px + (1000 - 600) * ((100vw - 768px) / (1280 - 768)));
	}

	.view-studio__info-wrapper {
		margin: 0 0 calc(20px + (40 - 20) * ((100vw - 768px) / (1280 - 768))) 0;
	}

	.slider-view-studio {
		margin: 0 0 calc(20px + (83 - 20) * ((100vw - 768px) / (1280 - 768))) 0;
	}

	.character-samples {
		min-height: calc(700px + (956 - 600) * ((100vw - 768px) / (1280 - 768)));
	}

	.example-photos {
		min-height: calc(600px + (943 - 600) * ((100vw - 768px) / (1280 - 768)));
	}

	.slider-example-photos {
		margin: 0 0 calc(20px + (53 - 20) * ((100vw - 768px) / (1280 - 768))) 0;
	}

	/* width: calc(20px + (83 - 20) * ((100vw - 768px) / (1280 - 768))); */
	/* 37 - максимальная ширина картинок кнопок.  */
	/* 20, 20px - минимальная ширина картинок кнопок. */
	/* 815px - ширина при которой начинает уменьшаться слайдер */
	/* 320, 320px - минимальная ширина экрана до которого будет происходить уменьшение  */
	.studio-services__list {
		row-gap: 65px;
		column-gap: 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: flex-start;
	}
}