:root {
	/* fonts */
	--title-font-family-1: 'Borsok';
	--text-font-family-1: 'Museo Sans Cyrl';
	/* ======= */
	/* colors */
	--text-color: #000;
	--title-text-color: #00907F;
	--background-color-1: #36F4D8;
	--background-color-2: #F4FD90;
	/* ======= */
}