.view-studio {
	min-height: 995px;
}

.view-studio.center {
	position: relative;
	border-radius: 30px;
	background: url(../images/background-bables.png) no-repeat center / cover;
}

.view-studio__info-wrapper {
	width: 100%;
	min-height: 90px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 33px;
	margin: 0 0 40px 0;
}

.view-studio__title {
	position: relative;
	max-width: 238px;
	width: 100%;
	top: -27px;
	left: 2px;
}

.view-studio__title .double-color {
	width: 245px;
	height: 94px;
}

.view-studio__txt {
	max-width: 299px;
	width: 100%;
	line-height: normal;
}

/* ====slider==== */

.slider-view-studio {
	margin: 0 0 82px 0;
}

/* ============== */
.view-studio__button {
	margin: 0 auto;
	padding: 0 33px;
}

@media(max-width:768px) {
	.view-studio {
		min-height: calc(654px + (670 - 654) * ((100vw - 360px) / (768 - 360)));
	}

	.view-studio.center {
		padding: 0;
	}

	.view-studio__info-wrapper {
		margin: 0 0 23px 0;
		padding: 0 0 0 20px;
		flex-direction: column;
		align-items: flex-start;
		gap: 0px;
	}

	.view-studio__title {
		left: 0;
	}

	.view-studio__txt {
		margin: -5px 0 0 0;
	}

	.slider-view-studio {
		margin: 0 0 28px 0;
	}

	.slider-view-studio__image {
		min-height: 360px;
		object-fit: cover;
	}
}